<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BackupHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
      
    </startup>
    <userSettings>
        <BackupHelper.Properties.Settings>
            <setting name="backupPath" serializeAs="String">
                <value>backupPath</value>
            </setting>
            <setting name="pathOneDrive" serializeAs="String">
                <value>pathOneDrive</value>
            </setting>
            <setting name="pathSourceFiles" serializeAs="String">
                <value>pathSourceFiles</value>
            </setting>
            <setting name="savePath" serializeAs="String">
                <value>savePath</value>
            </setting>
        </BackupHelper.Properties.Settings>
    </userSettings>
</configuration>